<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单测试-临来笑笑生</title>
</head>
<body>
    <center>
        <form action="" method="post" class="form-signin">
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                <input type="text" name="username" value="" class="form-text" required>
                <span class="bar"></span>
                <label>登录名 | Email</label>
            </div>
            <input type="submit" class="btn col-md-12" value="登录" />
        </form>
    </center>
    
</body>
</html>