<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <base href="{{base_url}}static/law/" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {{#if seo_title}}
    <title>{{seo_title}}</title>
    {{else}}
    <title>深圳律师-深圳律师事务所-刑事辩护律师-离婚律师咨询-法议网</title>
    {{/if}}

    {{#if seo_keyword}}
    <meta name="keyword" content="{{seo_keyword}}">
    {{else}}
    <meta name="keyword" content="深圳律师事务所,律师,深圳律师,律师事务所,刑事辩护律师,离婚律师,离婚律师咨询,法律咨询,婚姻律师,请律师大概要多少钱">
    {{/if}}

    {{#if seo_description}}
    <meta name="description" content="{{seo_description}}">
    {{else}}
    <meta name="description" content="法议律师联盟由法议信息科技有限公司创建，深圳律师事务所法议律师团队专业从事刑事辩护,婚姻家事纠纷,离婚纠纷,债权债务纠纷,民事纠纷,房产纠纷等案件处理,从创立法议网以来,就一直致力于为广大用户提供专业的律师免费法律咨询服务,法议网,您身边的法律顾问专家。">
    {{/if}}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-sm-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="d-flex justify-content-between flex-wrap align-items-center">
                                    <div class="header-info-left">
                                        <ul>
                                            <li>律所地址: 深圳市 光明区 中粮云景广场营销中心 603 </li>

                                        </ul>
                                    </div>
                                    <div class="header-info-right">
                                        <ul class="header-social"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between flex-wrap position-relative">

                            <div class="left-side d-flex align-items-center">
                                <div class="logo">
                                    <a href="javascript:void(0)"><img src="assets/img/logo.jpg" alt="普罗米修律师事务所"
                                            width="186" height="47"></a>
                                </div>

                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">首页</a></li>
                                            <!-- <li><a href="javascript:void(0)">律师团队</a></li>
                                            <li><a href="javascript:void(0)">律师咨询</a></li>
                                            <li><a href="javascript:void(0)">法律知识</a>
                                                <ul class="submenu">
                                                    <li><a href="javascript:void(0)">法律聚焦</a></li>
                                                    <li><a href="javascript:void(0)">罪名库</a></li>
                                                </ul>
                                            </li> -->
                                            <li><a href="/law-firm">关于律所</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="header-right-btn f-right  ml-15">
                                <a href="https://www5c1.53kf.com/webCompany.php?arg=10228720&kf_sign=DAwOTMTcxNUzMzg1MTM5NDAzMTAwMDU3MjIyODcyMA%253D%253D&style=1"
                                    target="_blank" class="btn_2">在线咨询</a>
                                <a href="javascript:void(0)" class="header-btn2">电话: <span> 4006-158-168</span></a>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- 中间内容start -->
    {{> child}}
    <!-- 中间内容end -->

    <footer>
        <div class="footer-wrappper">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10 ">
                            <div class="single-footer-caption text-center">
                                <div class="single-footer-caption mb-30">
                                    <div class="footer-logo mb-25">
                                        <!-- <a href="index.html"><img src="assets/img/logo.jpg" alt=""></a> -->
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>普罗米修律师事务所.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-menu">
                                <nav>
                                    <ul>
                                        <li><a href="/">首页</a></li>
                                        <!-- <li><a href="javascript:void(0)">刑法</a></li>
                                    <li><a href="javascript:void(0)">民事</a></li>
                                    <li><a href="javascript:void(0)">新闻</a> </li> -->
                                        <li><a href="/law-firm">关于律所</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="bottom-top">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="d-flex justify-content-between flex-wrap align-items-center">
                                    <div class="footer-info-left d-none d-lg-block">
                                        <ul>
                                            <li>电话: 4006-158-168 </li>
                                        </ul>
                                    </div>
                                    <div class="footer-info-right">

                                    </div>
                                    <a href="https://www5c1.53kf.com/webCompany.php?arg=10228720&kf_sign=DAwOTMTcxNUzMzg1MTM5NDAzMTAwMDU3MjIyODcyMA%253D%253D&style=1"
                                        target="_blank" class="btn_1">联系我们</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-border">
                        <div class="row align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>
                                        <script>document.write(new Date().getFullYear());</script>
                                        &copy;
                                        深圳普罗米修事务所
                                        <i class="fa fa-heart color-danger" aria-hidden="true"></i>

                                        <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备17075037号</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--回到最上面-->
    <div id="back-top">
        <a title="返回顶部" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/jquery.form.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/mail-script.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>