{{#*inline "child"}}

<main>
    <div class="slider-area position-relative">
        <div class="slider-active">
            <div class="single-slider hero-overly slider-height indexsl59fy d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-8 col-sm-10">
                            <div class="hero-caption">
                                <h1 data-animation="fadeInUp" data-delay=".2s">普罗米修律师事务所
                                </h1>
                                <P data-animation="fadeInUp" data-delay=".4s">
                                    成立于2002年3月，是由广东省司法厅批准设立的综合性、规模化、特殊普通合伙制律师事务所，总所设在深圳，拥有近500名执业律师，综合业务能力强，执业律师规模大。
                                </P>
                                <a href="/law-firm" class="btn hero-btn" data-animation="fadeInUp"
                                    data-delay=".8s">查看律所详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="about-low-area section-padding">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="offset-xl-1 col-xl-5 col-lg-5 col-md-9 col-sm-11">
                    <div class="about-right-cap">
                        <div class="about-right-img">
                            <img src="assets/img/yan.jpg" alt="">
                        </div>
                        <!-- <div class="img-cap">
                            <span>主任</span>
                            <p>晏华明</p>
                        </div> -->
                    </div>
                </div>
                <div class="offset-xl-1  col-xl-5 col-lg-6 col-md-10">
                    <div class="about-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <h2>为什么你需要的顶级律师</h2>
                            <h3>“顶级律师能为你争取到了取保候审、不予逮捕、不予起诉、免于刑事处罚或减刑的良好效果。”</h3>
                        </div>
                        <p>晏华明，创始合伙人，男，汉族，中国籍，专职律师，现执业于广东普罗米修律师事务所，
                            普罗米修（光明）律师事务所主任，总所刑事法律事务部主任，企业合规研究院执行副主任，
                            第一届罗湖区律师行业刑事法律发展中心主任，第一届罗湖区律师行业联合党支部书记，
                            深圳市律协十届风险管理委员会委员，深圳市律协十一届刑诉委员会委员，
                            广东省律协一届企业刑事合规委员会委员，
                            深圳常德市商会副监事长，深圳卫视嘉宾律师，原广州军区司令部法律顾问处律师。</p>
                    </div>
                    <div class="about-bottom">
                        <span>主任： <p> - 晏华明</p></span>
                        <!-- <img src="assets/img/gallery/signature.png" alt=""> -->
                        <p><a href="/lawyer" class="genric-btn danger circle">详细介绍</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- 我们的实践领域 -->
    <div class="our-practice-area section-bg section-padding">
        <div class="container">
            <div class="row justify-content-center mb-25">
                <div class="col-xl-12">
                    <div class="section-tittle text-center">
                        <h2>我们律所服务范围</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="single-services1 text-center">
                                <div class="services-ion">
                                    <img src="assets/img/icon/services1.svg" alt="">
                                </div>
                                <div class="services-cap">
                                    <h5><a href="javascript:void(0)">婚烟法</a></h5>
                                    <p>无论是离婚，分割财务，我们都是专业的。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="single-services1 text-center">
                                <div class="services-ion">
                                    <img src="assets/img/icon/services4.svg" alt="">
                                </div>
                                <div class="services-cap">
                                    <h5><a href="javascript:void(0)">刑 法</a></h5>
                                    <p>专业的刑事律师，带来双赢，以确保不会判死刑。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="single-services1 text-center">
                                <div class="services-ion">
                                    <img src="assets/img/icon/services3.svg" alt="">
                                </div>
                                <div class="services-cap">
                                    <h5><a href="javascript:void(0)">交通法</a></h5>
                                    <p>交通事故所带来的伤害在所难免，如何在事后更好的处理，专业的律师能带给你更多的索赔.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="single-services1 text-center">
                                <div class="services-ion">
                                    <img src="assets/img/icon/services2.svg" alt="">
                                </div>
                                <div class="services-cap">
                                    <h5><a href="javascript:void(0)">公司法</a></h5>
                                    <p>为你带来双赢的法律战略服务，公司合同，用工等都是最常受到起诉的焦点，如何确保不触犯公司法。</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12">
                    <div class="form-wrapper">
                        <div class="form-tittle mb-30">
                            <h2>简单留言</h2>
                            <p>留下你的联系方式，让我们专业的律师主动联系你</p>
                        </div>
                        <!-- <form id="three-form" action="#" method="POST"> -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-6">
                                <div class="form-box mb-10">
                                    <input type="text" name="name" placeholder="贵姓">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-6">
                                <div class="form-box mb-10">
                                    <input type="text" name="Mobile" placeholder="手机号">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="single-form">
                                    <div class="select-option">
                                        <select name="select" id="select1">
                                            <option value="">何种法律</option>
                                            <option value="">交通类</option>
                                            <option value="">婚烟类</option>
                                            <option value="">刑事类</option>
                                            <option value="">公司法律法规</option>
                                            <option value="">其它</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-box mb-10">
                                    <textarea name="message" id="message" placeholder="简短的想咨询的内容"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="submit-btn"> 确定留言</button>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-wrappers">
        <div class="container">
            <div class="wants-wrapper">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-9">
                        <div class="wantToWork-caption text-center">
                            <h2>为什么选择普罗米修律所?</h2>
                            <p>"我们的专业律师团队是真正致力于为你提供最佳的法律服务，为你争取到最大的利益。</p>
                            <p class="pera-bottom">客户选择我们的，成功避免起诉等案例</p>
                            <a href="javascript:void(0)" class="btn">了解更多案例</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="testimonial-area testimonial-padding section-img-bg2" data-background="assets/img/12312412.png">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-6 col-lg-8 col-md-9">
                    <div class="h1-testimonial-active">

                        <div class="single-testimonial">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <h2>真实客户留言</h2>
                                    <p>"感谢律所帮我争取到缓刑.</p>
                                </div>
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-img">
                                        <img src="assets/img/zgmm2.png" width="57" height="57" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>李先生</span>
                                        <p>一个错失杀人年轻的女人</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <h2>真实客户留言</h2>
                                    <p>"公司合同纠纷，差点损失几百万，感谢律所专业的律师争取回了损失.</p>
                                </div>
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-img">
                                        <img src="assets/img/zggg.png" width="57" height="57" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>马总</span>
                                        <p>CEO 一个创业初期的公司</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-area section-padding">
        <div class="container">
            <div class="row justify-content-center mb-50">
                <div class="col-xl-6 col-lg-6 col-md-10">
                    <div class="section-tittle text-center">
                        <h2>社会热门法律问题</h2>
                        <p>关注最新社会动态，留意法律相关热点，做一个守法，懂法的公民.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-1 col-lg-5 col-md-6 col-sm-10">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/2.jpg" alt="">
                        </div>
                        <div class="services-caption">
                            <span>副标</span>
                            <h3><a href="javascript:void(0)">文章标题</a></h3>

                            <p>文章描述口口口口口口口口口口品.</p>
                            <a href="javascript:void(0)" class="browse-btn">阅读详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-10">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/gallery/news1.jpg" alt="">
                        </div>
                        <div class="services-caption">
                            <span>关键字</span>
                            <h3><a href="javascript:void(0)">标题要多长口晶哭大大</a></h3>

                            <p>描述或者每一段文章 内容.</p>
                            <a href="javascript:void(0)" class="browse-btn">点我查看</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="want-wrapper">
        <div class="container">
            <section class="wantToWork-area">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-12">
                        <div class="wants-wrapper">
                            <blockquote>
                                <!-- <img src="assets/img/gallery/user.png" alt=""> -->
                            </blockquote>
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>值班律师：宋律师</h2>
                                <p>从业经验十几年</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="contact-now d-flex align-items-center flex-wrap f-right">
                            <span>直接电话联系</span>
                            <a href="javascript:void(0)" class="btn2 wantToWork-btn "><i class="fas fa-phone-alt"></i>
                                13699777520
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

{{/inline}}
{{> (lookup this "parent")}}