{{#*inline "child"}}
<main>
    <div class="slider-area">
        <div class="slider-height2 exsl59bgt d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-8">
                        <div class="hero-caption hero-caption2">
                            <h2>详情</h2>
                            <p>晏华明-律师</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <h2 style="color: #2d2d2d;">
                    晏华明-律师
                </h2>
                <div class="col-lg-8 posts-list">
                    <div class="single-post">

                        <div class="blog_details">

                            <div class="row">
                                <div class="col-md-5">
                                    <img src="assets/img/yan.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-7 mt-sm-20">
                                    <ul class="unordered-list">
                                        <li>普罗米修律师事务所总所合伙人</li>
                                        <li><a href="/law-firm">普罗米修（光明）律师事务所</a>主任</li>
                                        <li>企业合规研究院执行副主任</li>
                                        <li>罗湖区律师行业刑事法律发展中心主任</li>
                                        <li>第一届罗湖区律师行业联合党支部书记</li>
                                        <li>深圳市律协十届风险管理委员会委员</li>
                                        <li>深圳市律协十一届刑诉委员会委员</li>
                                        <li>广东省律协一届企业刑事合规委员会委员</li>
                                        <li>深圳常德市商会副监事长</li>
                                        <li>深圳卫视嘉宾律师</li>
                                        <li>原广州军区司令部法律顾问处律师</li>
                                    </ul>
                                    <br>
                                    <h3>专注领域</h3>
                                    <p>刑事辩护、企业家刑事法律风险防范、企业法律顾问</p>
                                </div>
                            </div>

                            <ul class="blog-info-link mt-3 mb-4">
                                <li>
                                    <a
                                        href="http://12348.moj.gov.cn/#/publicies/lawyerdetail/lawyerdetail?id=494f4c49d8b7427781de52ab4288e4d0&jd=114.01848394530399&wd=22.538521225645377">
                                        <i class="fa "></i>
                                        律师执业证号：14403201210034798
                                    </a>
                                </li>
                                <li><a href="javascript:void(0)">2011年05月01日取得律师执业证 </a></li>
                            </ul>
                            <p class="sample-text" style="text-indent: 2em;">
                                晏华明律师以精湛的业务技能和高标准的法律服务，
                                2016-2019年连续四年被罗湖区司法局评为深圳市罗湖区优秀专业律师。
                                晏律师对刑事辩护和民事诉讼有独到研究，经晏华明律师辩护，不少被告人获得无罪、
                                从轻、减轻或者免除处罚。其所办案件经常被当事人所称赞。
                            </p>
                            <p class="excert" style="text-indent: 2em;">
                                晏华明律师为多位犯罪嫌疑人或被告人争取到了取保候审、
                                不予逮捕、不予起诉、免于刑事处罚或减刑的良好效果。
                                晏律师办理的每一个案件，都会竭尽全力做到最好，当事人家属都非常满意，
                                也获得了当事人及其家属的一致认可和好评。
                            </p>
                            <div class="feature-img">
                                <img class="img-fluid" src="assets/img/yl2222222.png" alt="">
                            </div>
                            <p class="excert" style="text-indent: 2em;">
                                晏律师在刑事辩护领域业绩尤为突出，执业期间承办了大量疑难复杂案件，
                                如贩毒、职务侵占、商业贿赂、合同诈骗、假冒注册商标、非法经营、
                                非法吸收公众存款、集资诈骗等。很多案件取得了不予逮捕、不予起诉、
                                取保候审以及无罪释放的效果。
                            </p>
                            <h3 class="mb-20">部分案例</h3>
                            <div class="">
                                <ol class="ordered-list">
                                    <li><a style="color:#FF6F00">邵某某涉嫌故意伤害案，检察院不起诉</a></li>
                                    <li><span style="color:#FF6F00">杨某非法经营一审被判三年，二审改判为一年六个月</span></li>
                                    <li><span>李某某涉嫌职务侵占案，检察院不起诉</span></li>
                                    <li><span>汤某某涉嫌强奸案，开庭后检察院不起诉</span></li>
                                    <li><span>徐某某寻衅滋事案，检察院不起诉</span></li>
                                    <li><span>陈某某故意毁坏财物案，检察院不起诉</span></li>
                                    <li><span>陈某某涉嫌诈骗案，公安机关不呈捕，取保候审</span></li>
                                    <li><span>李某某涉嫌寻衅滋事案，逮捕后，取保候审</span></li>
                                    <li><span>张某某涉嫌诈骗十几万，仅被判刑一年</span></li>
                                    <li><span>李某涉嫌盗窃罪不起诉</span></li>
                                    <li><span>成功为盗窃罪当事人获得拘役处罚</span></li>
                                    <li><span>成功为强奸罪当事人获得缓刑处罚</span></li>
                                    <li><span>林某涉嫌强奸案抓获十四天后成功取保并释放</span></li>
                                    <li><span>肖某涉嫌强奸案检察院不予批捕当即释放</span></li>
                                    <li><span>廖某涉嫌假冒注册商标，被六人陷害指认为老板，经过辩护，最终认定为从犯并成功减刑判刑一年</span></li>
                                    <li><span>卢某涉嫌职务侵占证据不足罪不批捕，成功取保，后结案</span></li>
                                    <li><span>蔡某涉嫌寻衅滋事案不起诉</span></li>
                                    <li><span>詹某涉嫌赌博罪情节轻微不批捕</span></li>
                                    <li><span>李某涉嫌盗窃情节轻微不批捕</span></li>
                                    <li><span>王某某涉嫌介绍卖淫案，侦查阶段，检察院不予逮捕，成功取保</span></li>
                                    <li><span>魏某某诈骗罪经辩护成功取保候审</span></li>
                                    <li><span>林某某涉嫌非法行医案，审查起诉阶段，成功取保候审</span></li>
                                    <li><span>黄某涉嫌合同诈骗以及对非国家工作人员行贿案，成功将合同诈骗案辩护无罪</span></li>
                                    <li><span>………</span></li>
                                </ol>
                            </div>
                            <p class="excert" style="text-indent: 2em;">
                                晏华明律师不仅为当事人所喜欢，更深受很多网友喜欢，其抖音拥有很多粉丝，可以关注抖音
                            </p>

                            <div class="quote-wrapper">
                                <div class="quotes">
                                    <a
                                        href="https://www.douyin.com/user/MS4wLjABAAAA_WgoxKZVMUJ94SOLk-aFh_HG8vMS257yzVUbNwkwxhI">晏律师抖音主页</a>”:
                                    <a href="https://v.douyin.com/iYc4UEDG/">https://v.douyin.com/iYc4UEDG/</a>
                                    <br><a href="https://space.bilibili.com/504638813">bilibili视频主页</a>”：
                                    <a href="https://space.bilibili.com/504638813">
                                        https://space.bilibili.com/504638813
                                    </a>

                                </div>
                                <p class="like-info right">
                                    <span class="align-middle"><i class="fa fa-heart"></i></span>
                                    534喜欢
                                </p>
                            </div>

                            <p>
                            </p>

                        </div>
                    </div>


                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="关键字">
                                        <div class="input-group-append d-flex">
                                            <button class="boxed-btn2" type="button">搜索</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">分类</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="/" class="d-flex">
                                        <p>首页</p>
                                        <!-- <p>(37)</p> -->
                                    </a>
                                </li>
                                <li>
                                    <a href="/law-firm" class="d-flex">
                                        <p>普罗米修律师事务所</p>

                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#" class="d-flex">
                                        <p>其他</p>
                                        <p>(03)</p>
                                    </a>
                                </li> -->

                            </ul>
                        </aside>
                        <!-- <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="color: #2d2d2d;">最新文章</h3>
                            <div class="media post_item">
                                <img src="assets/img/post/post_1.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog_details.html">
                                        <h3 style="color: #2d2d2d;">标题中国...</h3>
                                    </a>
                                    <p>2024-2-12</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="assets/img/post/post_2.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog_details.html">
                                        <h3 style="color: #2d2d2d;">右蝇国</h3>
                                    </a>
                                    <p>2024-2-12</p>
                                </div>
                            </div>

                        </aside> -->
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">律师标签</h4>
                            <ul class="list">
                                <li>
                                    <a href="javascript:void(0)">专业的刑事律师</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">有良心律师</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">抖音热门律师</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">深圳好律师</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">光明区最帅律师</a>
                                </li>

                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title" style="color: #2d2d2d;">图片列表</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="javascript:void(0)">
                                        <img class="img-fluid" src="assets/img/post/post_5.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img class="img-fluid" src="assets/img/post/post_6.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img class="img-fluid" src="assets/img/post/post_7.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img class="img-fluid" src="assets/img/post/post_8.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img class="img-fluid" src="assets/img/post/post_9.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img class="img-fluid" src="assets/img/post/post_10.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">留言</h4>
                            <form action="#">
                                <a href="https://www5c1.53kf.com/webCompany.php?arg=10228720&kf_sign=DAwOTMTcxNUzMzg1MTM5NDAzMTAwMDU3MjIyODcyMA%253D%253D&style=1"
                                    target="_blank"
                                    class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">联系我们</a>


                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{/inline}}
{{> (lookup this "parent")}}