<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="applicable-device" content="pc">
    <meta name="author" content="">
    <meta name="spma" content="1001" />
    <meta name="spmb" content="1122" />

    <title>普法精选解答_华律•精选|律师解答,全民普法</title>
    <meta name="description" content="精选解答，以图片文字为载体，专业律师生动解读，为百姓提供实用的法律知识解答">
    <meta name="keywords" content="精选解答">

    <!-- swiper插件样式 -->
    <link rel="stylesheet" href="//css.66law.cn/css/2019/idangerous.swiper.css">
    <base target="_blank" />
    <!-- 新版公用样式 -->
    <link rel="stylesheet" href="//css.66law.cn/css/2018/base_v1.css?v=20210726">
    <link type="text/css" rel="stylesheet" href="//css.66law.cn/public/communal/base_v.2.0.css">
    <!-- 说法 样式表 -->
    <link rel="stylesheet" href="//css.66law.cn/css/2019/law_talk.css" />
</head>

<body style="height: auto;">



    <!-- logo-bar -->
    <div class="logo-bar box-shadow">
        <div class="w1200 ma clearfix">
            <div class="hd-left fl">
                <a href="//www.66law.cn/" class="hd-logo fl"><img src="//css.66law.cn/images/yuyinask/logo.png"></a>
                <strong>精选解答</strong>
            </div>
            <ul class="fr hd-nav">
                <li class="nav-item">
                    <a href="//v.66law.cn/">首页</a>
                </li>
                <li class="nav-item">
                    <a href="//v.66law.cn/shuofa/all/">全部视频</a>
                </li>
                <li class="nav-item">
                    <a href="//v.66law.cn/yuyinask/">语音问答</a>
                </li>
                <li class="nav-item cur"><a href="//v.66law.cn/jx/all/">全部精选</a></li>
                <li class="nav-item"><a href="//v.66law.cn/wenda/">优质问答</a></li>
            </ul>
        </div>
    </div>

    <!-- contents -->
    <div class="w1200 ma">

        <!-- 轮播图 -->
        <div class="swiper-container swiper-h312 mt40">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/jx/flgdb12.html" target="_black" class="fl left-img img-block"><img
                            src="https://media-cdn.66law.cn/picturecover/f33bbc59-b1eb-4c48-a6cf-ae4657ed6513.jpg?171445922145528"
                            alt="" alt="法律规定被父母强迫结婚违法吗"></a>
                    <div class="r-w420 fr">
                        <dl>
                            <dt>律师回答：</dt>
                            <dd class="h72">
                                违法。父母逼迫结婚是非法的。我国遵循婚姻自由原则，每个人都有权利按照自己的意愿结婚/离婚。结婚应当男女双方完全自愿，禁止... <a
                                    href="/jx/flgdb12.html">更多</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>法律依据：</dt>
                            <dd>《中华人民共和国民法典》</dd>
                            <dd>第一千零四十六条 结婚应当男女双方完全自愿，禁止任何一方对另一方加以强迫，禁止任何组织或者个人加以干涉。</dd>
                            <dd>第一千零四十七条 结婚年龄，男不得早于二十二周岁，女不得早于二十周岁。</dd>
                            <dd>第一千零四十八条 直系血亲或者三代以内的旁系血亲禁止结婚。</dd>
                        </dl>
                    </div>
                </div>
                <div class="swiper-slide">
                    <a href="/jx/btrzy.html" target="_black" class="fl left-img img-block"><img
                            src="https://media-cdn.66law.cn/picturecover/ede03fde-1414-43fe-90e0-602a0e501d2e.jpg?171392403832615"
                            alt="" alt="帮他人转移财产犯什么罪"></a>
                    <div class="r-w420 fr">
                        <dl>
                            <dt>律师回答：</dt>
                            <dd class="h72">
                                出卖银行卡帮助犯罪分子转移财产的可能构成帮信罪，本罪一般指帮助信息网络犯罪活动罪。 本罪是指自然人或者单位明知他人利用信... <a
                                    href="/jx/btrzy.html">更多</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>法律依据：</dt>
                            <dd>《民法典》第一千零九十二条</dd>
                            <dd>
                                夫妻一方隐藏、转移、变卖、毁损、挥霍夫妻共同财产，或者伪造夫妻共同债务企图侵占另一方财产的，在离婚分割夫妻共同财产时，对该方可以少分或者不分。离婚后，另一方发现有上述行为的，可以向人民法院提起诉讼，请求再次分割夫妻共同财产。
                            </dd>
                            <dd>
                                《刑法》第三百一十二条</dd>
                            <dd>
                                明知是犯罪所得及其产生的收益而予以窝藏、转移、收购、代为销售或者以其他方法掩饰、隐瞒的，处三年以下有期徒刑、拘役或者管制，并处或者单处罚金；情节严重的，处三年以上七年以下有期徒刑，并处罚金。
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="swiper-slide">
                    <a href="/jx/fqlhq10.html" target="_black" class="fl left-img img-block"><img
                            src="https://media-cdn.66law.cn/picturecover/492a8122-495e-4990-bc5a-013faeb3d284.jpg?170182570395292"
                            alt="" alt="夫妻离婚前协议书怎么写"></a>
                    <div class="r-w420 fr">
                        <dl>
                            <dt>律师回答：</dt>
                            <dd class="h72">
                                离婚协议由夫妻双方协商一致对于离婚、孩子抚养权、夫妻共同财产达成一致形成的书面协议。
                                主要包括如下内容：
                                １、夫妻双方的... <a href="/jx/fqlhq10.html">更多</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>法律依据：</dt>
                            <dd>《中华人民共和国民法典》</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="pagination"></div>
        </div>

        <!--  -->
        <div class="clearfix mt20">
            <!-- left -->
            <div class="fl w780">
                <!-- nav -->
                <div class="nav-f24 b-line">
                    <strong>最新精选</strong>
                    <div class="fl link-tag">
                        <a href="//v.66law.cn/jx/hyjt/">婚姻家庭</a>
                        <a href="//v.66law.cn/jx/ldjf/">劳动纠纷</a>
                        <a href="//v.66law.cn/jx/hsss/">海事海商</a>
                        <a href="//v.66law.cn/jx/htjf/">合同纠纷</a>
                        <a href="//v.66law.cn/jx/xsbh/">刑事辩护</a>
                        <a href="//v.66law.cn/jx/xzss/">行政诉讼</a>
                    </div>
                    <a href="/jx/all/" class="fr more">更多&gt;</a>
                </div>
                
                <!-- list -->
                <ul class="wenda-list mt10" data-spmc="1048" data-spmc-type="pd" data-spmc-cdom="a"
                    data-spmc-bind-dcel="child" data-spmc-start-index="5">
                    <li>
                        <h4><a href="/jx/qjdlzm.html">缺斤短两怎么处罚相关规定是什么</a></h4>
                        <p>缺斤少两属于欺诈行为。即经营者提供商品或者服务有欺诈行为的，应当按照消费者的要求增加赔偿其受到的损失，增加赔偿的金额为消费者购买商品的价款或者接受服务的费用的三倍；增加赔偿的金额不足五百元的，为五百元。法律另有规定的，依照其规定。
                        </p>
                        <div class="other-span">
                            <span><a href="//dengweina.66law.cn/" class="lawyer fl" data-spmc-ly="2065447"><img
                                        src="//imgt.66law.cn/upload/t/202112/29/15564934515.jpg">邓伟娜律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>16人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/zyhtky3.html">赠与合同可以约定违约金吗</a></h4>
                        <p>赠与合同可以约定违约金。如果赠与人因故意或重大过失造成损害的，应该赔偿受赠人的损失。如果是附义务的赠与，赠与的财产有瑕疵的，赠与人在附义务的限度内承担与出卖人相同的责任；赠与人故意不告知瑕疵或者保证无瑕疵，造成受赠人损失的，应当承担损害赔偿责任。所以对于赠与合同也是存在违约责任的。
                        </p>
                        <div class="other-span">
                            <span><a href="//chenjingjinglvs.66law.cn/" class="lawyer fl" data-spmc-ly="2189377"><img
                                        src="//imgt.66law.cn/upload/t/202104/21/1001980562.jpg">陈婧婧律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>14人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/xwyxl.html">离婚过错怎样赔偿</a></h4>
                        <p>离婚过错的赔偿包括物质损害赔偿和精神损害赔偿。所涉及的人身损害赔偿项目主要有：医疗费、误工费、护理费、交通费、住宿费、住院生活补助费、营养费、残疾赔偿金(残疾者生活补助费)、残疾辅助器具费、被扶养人生活费。
                        </p>
                        <div class="other-span">
                            <span><a href="//www.66law.cn/lawyer/2c2842a20675e/" class="lawyer fl"
                                    data-spmc-ly="2252268"><img
                                        src="//imgt.66law.cn/upload/t/202210/11/142038946828.jpg">华小律律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>16人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/wyxqzh.html">欺诈合同是无效合同吗</a></h4>
                        <p>受欺诈而订立的合同需要看具体情况。一方以欺诈、胁迫的手段订立合同，损害国家利益的，属于无效合同，无效的合同自始没有法律约束力。一方以欺诈、胁迫的手段或者乘人之危，使对方在违背真实意思的情况下订立的合同，属于可撤销合同，受损害方有权请求人民法院或者仲裁机构变更或者撤销。
                        </p>
                        <div class="other-span">
                            <span><a href="//chenjingjinglvs.66law.cn/" class="lawyer fl" data-spmc-ly="2189377"><img
                                        src="//imgt.66law.cn/upload/t/202104/21/1001980562.jpg">陈婧婧律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>15人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/qwyxgy2.html">二手房网上签约具有法律效力吗?</a></h4>
                        <p>二手房网上签约在符合法律规定的生效条件的情形即具备法律效力。根据《民法典》的规定，具备下列条件的民事法律行为有效：（一）行为人具有相应的民事行为能力；（二）意思表示真实；（三）不违反法律、行政法规的强制性规定，不违背公序良俗。当事人订立合同，可以采用书面形式、口头形式或者其他形式。书面形式是合同书、信件、电报、电传、传真等可以有形地表现所载内容的形式。以电子数据交换、电子邮件等方式能够有形地表现所载内容，并可以随时调取查用的数据电文，视为书面形。
                        </p>
                        <div class="other-span">
                            <span><a href="//lirongmei.66law.cn/" class="lawyer fl" data-spmc-ly="2034367"><img
                                        src="//imgt.66law.cn/upload/t/201912/20/94133754316.jpg">李荣梅律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>17人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/ydfg.html">因对方过错造成的损失，违约方能不承担责任吗</a></h4>
                        <p>因对方过错造成的损失，违约方可不承担责任。从相关规定中可以看出，由于对方过错，造成某种损失，违约方是不承担责任的。在这种情形下，法律将对方的过错作为免责事由，违约方证明该违约后果系对方过错行为所致，而与自己的违约行为无关，即可不承担违约责任。
                        </p>
                        <div class="other-span">
                            <span><a href="//chenjingjinglvs.66law.cn/" class="lawyer fl" data-spmc-ly="2189377"><img
                                        src="//imgt.66law.cn/upload/t/202104/21/1001980562.jpg">陈婧婧律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>12人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/csrhsp1.html">车损如何索赔维权</a></h4>
                        <p>车损后这样进行索赔维权：当事人可以先要求对方的保险公司进行赔偿，不足的部分由有过错的一方承担赔偿责任；双方都有过错的，按照各自过错的比例分担责任，交通事故的损失是由非机动车驾驶人、行人故意碰撞机动车造成的，机动车一方不承担赔偿责任。
                        </p>
                        <div class="other-span">
                            <span><a href="//liujiweilvshi.66law.cn/" class="lawyer fl" data-spmc-ly="2128729"><img
                                        src="//imgt.66law.cn/upload/t/202309/5/10213023450.jpg">刘纪伟律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>8人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/xsrssh.html">学生人身损害赔偿的补偿权利人包括谁</a></h4>
                        <p>学生人身损害赔偿的赔偿权利人一般是指遭受人身损害的学生、依法由受害学生承担扶养义务的被扶养人以及死亡学生的近亲属。侵害他人造成人身损害的，应当赔偿医疗费、护理费、交通费、营养费、住院伙食补助费等为治疗和康复支出的合理费用。
                        </p>
                        <div class="other-span">
                            <span><a href="//dengweina.66law.cn/" class="lawyer fl" data-spmc-ly="2065447"><img
                                        src="//imgt.66law.cn/upload/t/202112/29/15564934515.jpg">邓伟娜律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>9人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/xsajkt2.html">刑事案件开庭立案需要收监吗</a></h4>
                        <p>刑事案件被告人可以适用缓刑的开庭不会收监，被告人不可以适用缓刑的应当在开庭前收监。被告人在法院开庭前取保候审的由检察院向法院提起公诉后，经法院审查是否收监。</p>
                        <div class="other-span">
                            <span><a href="//qinjianghua.66law.cn/" class="lawyer fl" data-spmc-ly="2146393"><img
                                        src="//imgt.66law.cn/upload/t/201906/13/143030189961.jpg">秦江华律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>8人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/jtsgyl2.html">交通事故医疗费谁赔偿</a></h4>
                        <p>发生交通事故后，医疗费按以下情形确定由谁支付：(1)如果有购买保险的，并且符合理赔条件，由保险公司在限额内支付;如果超出保险的限额，超出部分由交通事故责令人承担。(2)如果没有购买保险或者不符合理赔条件的，由交通事故责任人承担赔偿责任。机动车发生交通事故造成损害，属于该机动车一方责任的，先由承保机动车强制保险的保险人在强制保险责任限额范围内予以赔偿;不足部分，由承保机动车商业保险的保险人按照保险合同的约定予以赔偿;仍然不足或者没有投保机动车商业保险的，由侵权人赔偿。
                        </p>
                        <div class="other-span">
                            <span><a href="//liujiweilvshi.66law.cn/" class="lawyer fl" data-spmc-ly="2128729"><img
                                        src="//imgt.66law.cn/upload/t/202309/5/10213023450.jpg">刘纪伟律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>8人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/syjxl.html">适用继续履行须满足哪些条件?</a></h4>
                        <p>1、继续履行的适用条件包括：（1）存在具有继续履行可行性的违约行为，只有在合同有继续履行的可能时，违约方才能承担继续履行的责任；（2）存在继续履行的必要性，继续履行只是违约的一种补救措施，而不是惩罚性措施，债权人是否要求违约方继续履行以及违约方应否继续履行都应考虑其经济合理性。。
                        </p>
                        <div class="other-span">
                            <span><a href="//chenjingjinglvs.66law.cn/" class="lawyer fl" data-spmc-ly="2189377"><img
                                        src="//imgt.66law.cn/upload/t/202104/21/1001980562.jpg">陈婧婧律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>6人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/jtsgrs6.html">交通事故人身损害赔偿的主要内容有哪些</a></h4>
                        <p>交通事故人身损害赔偿的主要内容如下：一、受害人尚未参加的，赔偿内容为：医疗费、误工费、护理费、交通费、住宿费、住院伙食补助费、必要的营养费。二、受害人致残的赔偿内容为：残疾赔偿金、残疾辅助器具费、被扶养人生活费、康复费、护理费、后续治疗费。三、受害人死亡的赔偿内容为：丧葬费、死亡补偿费、受害人亲属办理丧葬事宜支出的交通费、住宿费和误工损失等其他合理费用、精神损害抚慰金。
                        </p>
                        <div class="other-span">
                            <span><a href="//liujiweilvshi.66law.cn/" class="lawyer fl" data-spmc-ly="2128729"><img
                                        src="//imgt.66law.cn/upload/t/202309/5/10213023450.jpg">刘纪伟律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>7人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/qsyp.html">轻伤要赔多少钱</a></h4>
                        <p>1、行为人侵害他人，造成他人轻伤的，应当赔偿医疗费、护理费、交通费、营养费、住院伙食补助费等为治疗和康复支出的合理费用，以及因误工减少的收入；2、构成轻微伤的，就会涉及到民事赔偿问题，在治安处罚也会比没有受伤的重；3、经调解未达成协议或者达成协议后不履行的，公安机关应当依照本法的规定对违反治安管理行为人给予处罚。
                        </p>
                        <div class="other-span">
                            <span><a href="//dengweina.66law.cn/" class="lawyer fl" data-spmc-ly="2065447"><img
                                        src="//imgt.66law.cn/upload/t/202112/29/15564934515.jpg">邓伟娜律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>6人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/jx/jjhtwy5.html">居间合同违约会怎样办</a></h4>
                        <p>居间合同违约应当按照合同承担违约责任。如果合同约定了违约金的应当按照合同约定的违约金支付，如果合同没有约定违约金的，可以根据实际造成的损失承担违约责任。如果一方的违约行为导致合同目的不能实现的，守约方可以请求法院解除合同。
                        </p>
                        <div class="other-span">
                            <span><a href="//chenjingjinglvs.66law.cn/" class="lawyer fl" data-spmc-ly="2189377"><img
                                        src="//imgt.66law.cn/upload/t/202104/21/1001980562.jpg">陈婧婧律师</a></span>
                            <span><i class="ico-cb i-cb26"></i>2024.06.05</span>
                            <span><i class="ico-cb i-cb28"></i>7人看过</span>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- right -->
            <div class="fr w380">


                <!-- #11733 start MEDIA-ALL-CITY-1 -->







                <div id="MediaCommonAdv_Adv4" class="art-lr-h328 mb40">
                    <a href="//pds13430777776.66law.cn/" class="lawyer">
                        <div class="lab-tj"><i class="ico-thumb"></i>本地普法律师推荐</div>
                        <div class="img-block photo">
                            <img src="//imgt.66law.cn/upload/t/202010/16/13345788271.jpg" alt="">

                        </div>
                        <div class="title">
                            <strong class="name ect">庞东升律师</strong>
                            <i class="ico-vip"></i>
                        </div>
                        <dl class="help">
                            <dd>近期帮助<span>4712</span>人</dd>
                            <dd>响应时间<span>一天内</span></dd>
                        </dl>
                        <div class="adept ect">
                            擅长：刑事辩护、婚姻家庭、合同纠纷、离婚、民间借贷、房产纠纷
                        </div>

                    </a>
                    <div class="tel">
                        <i class="ico-tel"></i><span class="din-b f-num">134-3077-7776</span>
                        <a href="//www.66law.cn/case/add.aspx?toguid=11704250-26F6-41E5-9B5C-4D9C299886C0&t_code=PC_CaseOne_PictureTxt"
                            class="u-btn btn-warn fr">在线咨询</a>
                    </div>
                </div>
                <!-- #11733 end -->




                <!-- 精选解答推荐 -->
                <div class="nav-f24"><i class="l-line"></i><strong>精选解答推荐</strong></div>
                <ul class="jx-jieda mt15" data-spmc="1048" data-spmc-type="pd">
                    <li>
                        <h4><a target="_blank" href="/jx/ggyf.html" class="s-c6">哥哥有扶养弟弟的义务吗</a></h4>
                        <div class="other-span">
                            <span><a target="_blank" href="//hengshan.66law.cn/" class="lawyer fl"
                                    data-spmc-ly="2153230"><img
                                        src="//imgt.66law.cn/upload/t/202009/10/10211384150.jpg">上海恒善律师事务所</a></span>
                            <span><i class="ico-cb i-cb28"></i>1768人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/jx/yyye.html" class="s-c6">育有一儿一女离婚协议怎么写</a></h4>
                        <div class="other-span">
                            <span><a target="_blank" href="//hengshan.66law.cn/" class="lawyer fl"
                                    data-spmc-ly="2153230"><img
                                        src="//imgt.66law.cn/upload/t/202009/10/10211384150.jpg">上海恒善律师事务所</a></span>
                            <span><i class="ico-cb i-cb28"></i>877人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/jx/dsqhg.html" class="s-c6">多少钱会构成网络诈骗罪</a></h4>
                        <div class="other-span">
                            <span><a target="_blank" href="//luguangliang.66law.cn/" class="lawyer fl"
                                    data-spmc-ly="2018284"><img
                                        src="//imgt.66law.cn/upload/t/202007/16/143829645672.jpg">路光亮律师</a></span>
                            <span><i class="ico-cb i-cb28"></i>823人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/jx/qslhn23.html" class="s-c6">起诉离婚男方可以要求对方赔偿吗</a></h4>
                        <div class="other-span">
                            <span><a target="_blank" href="//xuejinxia.66law.cn/" class="lawyer fl"
                                    data-spmc-ly="2124417"><img
                                        src="//imgt.66law.cn/upload/t/202204/27/103123127183.jpg">薛金霞律师</a></span>
                            <span><i class="ico-cb i-cb28"></i>811人看过</span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/jx/mjjkx.html" class="s-c6">民间借款协议要怎么订立</a></h4>
                        <div class="other-span">
                            <span><a target="_blank" href="//www.66law.cn/lawyer/2d15f181d5b48/" class="lawyer fl"
                                    data-spmc-ly="2141155"><img
                                        src="//imgt.66law.cn/upload/t/201902/15/1612718773.jpg">张强律师</a></span>
                            <span><i class="ico-cb i-cb28"></i>662人看过</span>
                        </div>
                    </li>
                </ul>




                <!-- 精选解答排行榜 -->
                <div class="nav-f24 mt40"><i class="l-line"></i><strong>精选解答排行榜</strong></div>
                <ul class="lr-list mt15">
                    <li>
                        <a target="_blank" href="//lijianjian.66law.cn/" class="img-block"><img
                                src="//imgt.66law.cn/upload/t/201901/3/153436863271.jpg" title="李键键律师"></a>
                        <div class="lawyer">
                            <a target="_blank" href="//lijianjian.66law.cn/" class="name">李键键律师</a>
                            <span class="s-c9">河北·石家庄</span>
                        </div>
                        <div class="other mt10">
                            <span class="tag">债权债务</span>
                            <span><em class="din-b s-red f16">141084542</em>次看过</span>
                        </div>
                    </li>
                    <li>
                        <a target="_blank" href="//yuanchao.66law.cn/" class="img-block"><img
                                src="//imgt.66law.cn/upload/t/202205/18/16731509407.jpg" title="袁超律师"></a>
                        <div class="lawyer">
                            <a target="_blank" href="//yuanchao.66law.cn/" class="name">袁超律师</a>
                            <span class="s-c9">河北·沧州</span>
                        </div>
                        <div class="other mt10">
                            <span class="tag">人身损害</span>
                            <span><em class="din-b s-red f16">79671121</em>次看过</span>
                        </div>
                    </li>
                    <li>
                        <a target="_blank" href="//qinjianghua.66law.cn/" class="img-block"><img
                                src="//imgt.66law.cn/upload/t/201906/13/143046202.jpg" title="秦江华律师"></a>
                        <div class="lawyer">
                            <a target="_blank" href="//qinjianghua.66law.cn/" class="name">秦江华律师</a>
                            <span class="s-c9">河北·廊坊</span>
                        </div>
                        <div class="other mt10">
                            <span class="tag">刑事辩护</span>
                            <span><em class="din-b s-red f16">60716810</em>次看过</span>
                        </div>
                    </li>
                </ul>

                <div data-spmc="1037" data-spmc-type="pd" data-spmc-cdom="a" data-spmc-bind-dcel="child">
                    <!-- 语音推荐 -->
                    <div class="nav-f24 mt40"><i class="l-line"></i><strong>语音推荐</strong></div>
                    <ul class="voice-list mt15">
                        <li>
                            <h4><a target="_blank" href="//v.66law.cn/yuyinask/11661.html" class="s-c6">怎么申请法律援助</a>
                            </h4>
                            <div class="other mt10" data-spmc-ly="1798947">
                                <a target="_blank" href="//www.66law.cn/lawyer/2115813229640/" class="img-block"><img
                                        src="//imgt.66law.cn/upload/t/201903/27/1494833484.jpg" title="陈林律师"></a>
                                <a target="_blank" href="//www.66law.cn/lawyer/2115813229640/" class="f14 s-cb">陈林律师</a>
                                <div class="h20">
                                    <span class="fr s-cb">收听量：1798947</span>
                                    <i class="ico-changshi i-cs26"></i><span class="din-m">01'39''</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4><a target="_blank" href="//v.66law.cn/yuyinask/201.html" class="s-c6">怎么预防合同欺诈</a></h4>
                            <div class="other mt10" data-spmc-ly="1498465">
                                <a target="_blank" href="//www.66law.cn/lawyer/2e00d065d759e/" class="img-block"><img
                                        src="//imgt.66law.cn/upload/t/201907/11/92250888261.jpg" title="赵江律师团队"></a>
                                <a target="_blank" href="//www.66law.cn/lawyer/2e00d065d759e/"
                                    class="f14 s-cb">赵江律师团队</a>
                                <div class="h20">
                                    <span class="fr s-cb">收听量：1498465</span>
                                    <i class="ico-changshi i-cs26"></i><span class="din-m">01'39''</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4><a target="_blank" href="//v.66law.cn/yuyinask/10359.html" class="s-c6">退伍和复员的区别</a>
                            </h4>
                            <div class="other mt10" data-spmc-ly="1077039">
                                <a target="_blank" href="//www.66law.cn/lawyer/2619b49579431/" class="img-block"><img
                                        src="//imgt.66law.cn/upload/t/201808/23/151426546550.jpg" title="周凡力律师"></a>
                                <a target="_blank" href="//www.66law.cn/lawyer/2619b49579431/"
                                    class="f14 s-cb">周凡力律师</a>
                                <div class="h20">
                                    <span class="fr s-cb">收听量：1077039</span>
                                    <i class="ico-changshi i-cs26"></i><span class="din-m">01'39''</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4><a target="_blank" href="//v.66law.cn/yuyinask/13531.html" class="s-c6">退休金计算方法是什么</a>
                            </h4>
                            <div class="other mt10" data-spmc-ly="977597">
                                <a target="_blank" href="//wangkehonglvshi123.66law.cn/" class="img-block"><img
                                        src="//imgt.66law.cn/upload/t/202003/4/18341133817.jpg" title="王可红律师"></a>
                                <a target="_blank" href="//wangkehonglvshi123.66law.cn/" class="f14 s-cb">王可红律师</a>
                                <div class="h20">
                                    <span class="fr s-cb">收听量：977597</span>
                                    <i class="ico-changshi i-cs26"></i><span class="din-m">01'39''</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4><a target="_blank" href="//v.66law.cn/yuyinask/7568.html" class="s-c6">分户口需要什么条件</a>
                            </h4>
                            <div class="other mt10" data-spmc-ly="829492">
                                <a target="_blank" href="//www.66law.cn/lawyer/2619b49579431/" class="img-block"><img
                                        src="//imgt.66law.cn/upload/t/201808/23/151426546550.jpg" title="周凡力律师"></a>
                                <a target="_blank" href="//www.66law.cn/lawyer/2619b49579431/"
                                    class="f14 s-cb">周凡力律师</a>
                                <div class="h20">
                                    <span class="fr s-cb">收听量：829492</span>
                                    <i class="ico-changshi i-cs26"></i><span class="din-m">01'39''</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4><a target="_blank" href="//v.66law.cn/yuyinask/25783.html"
                                    class="s-c6">教师教龄30年有什么优惠政策</a></h4>
                            <div class="other mt10" data-spmc-ly="628392">
                                <a target="_blank" href="//www.66law.cn/lawyer/24120600d7932/" class="img-block"><img
                                        src="//imgt.66law.cn/upload/t/201809/21/14214336550.jpg" title="杨爱律师"></a>
                                <a target="_blank" href="//www.66law.cn/lawyer/24120600d7932/" class="f14 s-cb">杨爱律师</a>
                                <div class="h20">
                                    <span class="fr s-cb">收听量：628392</span>
                                    <i class="ico-changshi i-cs26"></i><span class="din-m">01'39''</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- 视频推荐 -->
                    <div class="nav-f24 mt40"><i class="l-line"></i><strong>视频推荐</strong></div>
                    <ul class="video-wenda mt15">
                        <li>
                            <a href="//v.66law.cn/shuofa/16461.html" class="img-block">
                                <img src="https://media-cdn.66law.cn/cover/30c405e9-07e2-4736-9dbf-9650323db53a.jpg?nologocover0629142015"
                                    alt="">
                                <span class="time">02:02</span>
                                <div class="bg"><i class="ico-zx i-zx45"></i></div>
                            </a>
                            <div class="title"><a href="//v.66law.cn/shuofa/16461.html">轻伤鉴定标准</a></div>
                            <p><a href="//daiwei.66law.cn/" class="s-c9" data-spmc-ly="2129204">代伟律师</a></p>
                            <p>446240次播放</p>
                        </li>
                        <li>
                            <a href="//v.66law.cn/shuofa/14973.html" class="img-block">
                                <img src="https://media-cdn.66law.cn/cover/84d8ad05-c8e3-426c-b543-184a7e5b7d74.jpg?nologocover0629120327"
                                    alt="">
                                <span class="time">01:31</span>
                                <div class="bg"><i class="ico-zx i-zx45"></i></div>
                            </a>
                            <div class="title"><a href="//v.66law.cn/shuofa/14973.html">没签合同一告一个准吗</a></div>
                            <p><a href="//www.66law.cn/lawyer/271322f343b31/" class="s-c9"
                                    data-spmc-ly="2132333">曾俊松律师</a></p>
                            <p>426787次播放</p>
                        </li>
                        <li>
                            <a href="//v.66law.cn/shuofa/13133.html" class="img-block">
                                <img src="https://media-cdn.66law.cn/cover/93a26363-6bfe-4606-b9ca-307b39d97937.jpg?nologocover0629092833"
                                    alt="">
                                <span class="time">01:33</span>
                                <div class="bg"><i class="ico-zx i-zx45"></i></div>
                            </a>
                            <div class="title"><a href="//v.66law.cn/shuofa/13133.html">噪音扰民打110有用吗</a></div>
                            <p><a href="//www.66law.cn/lawyer/2704d2f805898/" class="s-c9"
                                    data-spmc-ly="2092854">吴启刚律师</a></p>
                            <p>377631次播放</p>
                        </li>
                        <li>
                            <a href="//v.66law.cn/shuofa/16465.html" class="img-block">
                                <img src="https://media-cdn.66law.cn/cover/5c582c14-ebab-4926-8ba5-f38a24bdf700.jpg?nologocover0629142035"
                                    alt="">
                                <span class="time">01:55</span>
                                <div class="bg"><i class="ico-zx i-zx45"></i></div>
                            </a>
                            <div class="title"><a href="//v.66law.cn/shuofa/16465.html">老板不给工资110管吗</a></div>
                            <p><a href="//daiwei.66law.cn/" class="s-c9" data-spmc-ly="2129204">代伟律师</a></p>
                            <p>310614次播放</p>
                        </li>
                        <li>
                            <a href="//v.66law.cn/shuofa/16756.html" class="img-block">
                                <img src="https://media-cdn.66law.cn/cover/e7f85da7-7dbb-472c-bb19-59d6de965847.jpg?nologocover0629144540"
                                    alt="">
                                <span class="time">01:57</span>
                                <div class="bg"><i class="ico-zx i-zx45"></i></div>
                            </a>
                            <div class="title"><a href="//v.66law.cn/shuofa/16756.html">一般工伤骨折怎么赔付</a></div>
                            <p><a href="//www.66law.cn/lawyer/2a1082b4f9594/" class="s-c9"
                                    data-spmc-ly="2192490">马永进律师</a></p>
                            <p>310129次播放</p>
                        </li>
                        <li>
                            <a href="//v.66law.cn/shuofa/11478.html" class="img-block">
                                <img src="https://media-cdn.66law.cn/cover/4a7cc939-7d8f-448f-ad9f-077a7214a425.jpg?153896741746788"
                                    alt="">
                                <span class="time">02:19</span>
                                <div class="bg"><i class="ico-zx i-zx45"></i></div>
                            </a>
                            <div class="title"><a href="//v.66law.cn/shuofa/11478.html">辞职后五险一金怎么处理</a></div>
                            <p><a href="//www.66law.cn/lawyer/23083531f369f/" class="s-c9"
                                    data-spmc-ly="2095138">朱诗虎律师</a></p>
                            <p>237231次播放</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <div class="footer mt40">
        <div class="w1200 ma">
            <div class="ft-k4 clearfix">
                <div class="logo fl">
                    <a href="/">
                        <img src="//css.66law.cn/images/2020/pc-footer-logo.png">
                    </a>
                </div>
                <div class="milddle fl">
                    <p class="txt-a">服务热线：（ 工作日 09:00-18:00 ）</p>
                    <p class="txt-b">400-6012-708</p>
                    <div class="clearfix"><a href="//wpa.qq.com/msgrd?v=3&amp;uin=2355858755&amp;site=qq&amp;menu=yes"
                            class="btn transit qqmsn-online" target="_blank">在线客服</a><a
                            href="//wpa.qq.com/msgrd?v=3&amp;uin=2355763468&amp;site=qq&amp;menu=yes"
                            class="btn transit qqmsn-online" target="_blank">在线客服</a></div>
                    <p class="txt-c">投诉举报：（ 2个工作日响应 ）</p>
                    <p class="txt-d">fankui&#64;66law.cn</p>
                    <div class="clearfix"><a href="https://www.66law.cn/help/feedback.aspx" class="btn transit"
                            target="_blank">在线反馈</a></div>
                </div>
                <div class="link fl">
                    <p class="dt">关于华律</p>
                    <div id="aboutLink"><a target="_blank" href="//www.66law.cn/about/">关于我们</a><a target="_blank"
                            href="//www.66law.cn/about/contact.aspx">联系方式</a><a target="_blank"
                            href="//www.66law.cn/help/">帮助中心</a><a target="_blank"
                            href="//www.66law.cn/help/disclaimers.aspx">法律声明</a><a target="_blank"
                            href="//www.66law.cn/about/sitemap.aspx">网站地图</a></div>
                </div>
                <div class="link fl">
                    <p class="dt">合作加盟</p>
                    <div id="companyLink"><a target="_blank" href="//www.66law.cn/yingxiao/">律师加盟</a><a target="_blank"
                            href="//www.66law.cn/yingxiao/cooperation/">市场合作</a><a target="_blank"
                            href="//www.66law.cn/yingxiao/pay/">支付方式</a></div>
                </div>
                <dl class="our fl">
                    <dt>关注我们</dt>
                    <dd class="clearfix">
                        <div class="fl mr60">
                            <img src="//css.66law.cn/images/2020/publiccode.jpg" class="ecod">
                            <p class="txt">
                                我是公众<br>
                                免费咨询 随时追问
                            </p>
                        </div>
                        <div class="fl">
                            <img src="//css.66law.cn/images/2020/lawyercode.jpg" class="ecod">
                            <p class="txt">
                                我是律师<br>
                                案件接洽 合作加盟
                            </p>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="tab-bar ft-k3">
                <div class="tab-nav">

                    <span class="">区县律师推荐</span>

                    <span class="">城市律师推荐</span>

                </div>
                <div class="un-pr" style="height: 60px;">

                    <div class="tab-item unfold-bar hidden">
                        <div class="un-ovh" style="height: 60px;">
                            <div class="un-nr">
                                <a href="https://www.66law.cn/akesushi/" target="_blank" title="阿克苏市律师">阿克苏市律师</a><a
                                    href="https://www.66law.cn/yongjishi/" target="_blank" title="永济市律师">永济市律师</a><a
                                    href="https://www.66law.cn/yushuxian/" target="_blank" title="玉树市律师">玉树市律师</a><a
                                    href="https://www.66law.cn/zhengningxian/" target="_blank" title="正宁县律师">正宁县律师</a><a
                                    href="https://www.66law.cn/chongxinxian/" target="_blank" title="崇信县律师">崇信县律师</a><a
                                    href="https://www.66law.cn/ningshanxian/" target="_blank" title="宁陕县律师">宁陕县律师</a><a
                                    href="https://www.66law.cn/nanning/xingzhengfuyi/" target="_blank"
                                    title="南宁行政复议律师">南宁行政复议律师</a><a href="https://www.66law.cn/hangzhou/lihun/"
                                    target="_blank" title="杭州离婚律师">杭州离婚律师</a><a href="https://www.66law.cn/yongningqu/"
                                    target="_blank" title="邕宁区律师">邕宁区律师</a><a href="https://www.66law.cn/huarongxian/"
                                    target="_blank" title="华容县律师">华容县律师</a><a href="https://www.66law.cn/shangyouxian/"
                                    target="_blank" title="上犹县律师">上犹县律师</a><a href="https://www.66law.cn/fenyixian/"
                                    target="_blank" title="分宜县律师">分宜县律师</a><a href="https://www.66law.cn/yongchunxian/"
                                    target="_blank" title="永春县律师">永春县律师</a><a href="https://www.66law.cn/xiuningxian/"
                                    target="_blank" title="休宁县律师">休宁县律师</a><a href="https://www.66law.cn/jidongxian/"
                                    target="_blank" title="鸡东县律师">鸡东县律师</a><a href="https://www.66law.cn/mashanqu/"
                                    target="_blank" title="麻山区律师">麻山区律师</a><a href="https://www.66law.cn/pingyangxian/"
                                    target="_blank" title="平阳县律师">平阳县律师</a><a href="https://www.66law.cn/xixiaqu/"
                                    target="_blank" title="西夏区律师">西夏区律师</a><a href="https://www.66law.cn/shiqianxian/"
                                    target="_blank" title="石阡县律师">石阡县律师</a><a href="https://www.66law.cn/pengshanxian/"
                                    target="_blank" title="彭山区律师">彭山区律师</a><a href="https://www.66law.cn/jiangexian/"
                                    target="_blank" title="剑阁县律师">剑阁县律师</a><a href="https://www.66law.cn/guipingshi/"
                                    target="_blank" title="桂平市律师">桂平市律师</a><a href="https://www.66law.cn/anrenxian/"
                                    target="_blank" title="安仁县律师">安仁县律师</a><a href="https://www.66law.cn/taojiangxian/"
                                    target="_blank" title="桃江县律师">桃江县律师</a><a href="https://www.66law.cn/cilixian/"
                                    target="_blank" title="慈利县律师">慈利县律师</a><a href="https://www.66law.cn/beitaqu/"
                                    target="_blank" title="北塔区律师">北塔区律师</a><a href="https://www.66law.cn/yunmengxian/"
                                    target="_blank" title="云梦县律师">云梦县律师</a><a href="https://www.66law.cn/yunxixian/"
                                    target="_blank" title="郧西县律师">郧西县律师</a><a href="https://www.66law.cn/hualongqu/"
                                    target="_blank" title="华龙区律师">华龙区律师</a><a href="https://www.66law.cn/laochengqu/"
                                    target="_blank" title="老城区律师">老城区律师</a><a href="https://www.66law.cn/zhongmouxian/"
                                    target="_blank" title="中牟县律师">中牟县律师</a><a href="https://www.66law.cn/xiajiangxian/"
                                    target="_blank" title="峡江县律师">峡江县律师</a><a href="https://www.66law.cn/ruichangshi/"
                                    target="_blank" title="瑞昌市律师">瑞昌市律师</a><a href="https://www.66law.cn/runzhouqu/"
                                    target="_blank" title="润州区律师">润州区律师</a><a href="https://www.66law.cn/xiahuayuanqu/"
                                    target="_blank" title="下花园区律师">下花园区律师</a><a href="https://www.66law.cn/xinhuaqu/"
                                    target="_blank" title="新华区律师">新华区律师</a><a href="https://www.66law.cn/zhungeerqi/"
                                    target="_blank" title="准格尔旗律师">准格尔旗律师</a><a href="https://www.66law.cn/tumoteyouqi/"
                                    target="_blank" title="土默特右旗律师">土默特右旗律师</a><a
                                    href="https://www.66law.cn/shuangqiaoqu1/" target="_blank" title="双桥区律师">双桥区律师</a><a
                                    href="https://www.66law.cn/chonglixian/" target="_blank" title="崇礼区律师">崇礼区律师</a><a
                                    href="https://www.66law.cn/gaoyangxian/" target="_blank" title="高阳县律师">高阳县律师</a><a
                                    href="https://www.66law.cn/fengnanqu/" target="_blank" title="丰南区律师">丰南区律师</a><a
                                    href="https://www.66law.cn/tianyangxian/" target="_blank" title="田阳县律师">田阳县律师</a><a
                                    href="https://www.66law.cn/fengmanqu/" target="_blank" title="丰满区律师">丰满区律师</a><a
                                    href="https://www.66law.cn/qinghexian/" target="_blank" title="清河县律师">清河县律师</a><a
                                    href="https://www.66law.cn/xinganqu/" target="_blank" title="兴安区律师">兴安区律师</a><a
                                    href="https://www.66law.cn/xinhuaxian/" target="_blank" title="新化县律师">新化县律师</a><a
                                    href="https://www.66law.cn/furongqu/" target="_blank" title="芙蓉区律师">芙蓉区律师</a><a
                                    href="https://www.66law.cn/luxian/lihun/" target="_blank"
                                    title="泸县离婚律师">泸县离婚律师</a><a href="https://www.66law.cn/fuliangxian/" target="_blank"
                                    title="浮梁县律师">浮梁县律师</a><a href="https://www.66law.cn/jinxixian/" target="_blank"
                                    title="金溪县律师">金溪县律师</a><a href="https://www.66law.cn/wulianxian/" target="_blank"
                                    title="五莲县律师">五莲县律师</a><a href="https://www.66law.cn/huiminxian/" target="_blank"
                                    title="惠民县律师">惠民县律师</a><a href="https://www.66law.cn/juanchengxian/" target="_blank"
                                    title="鄄城县律师">鄄城县律师</a><a href="https://www.66law.cn/huaxian/" target="_blank"
                                    title="滑县律师">滑县律师</a><a href="https://www.66law.cn/qingfengxian/" target="_blank"
                                    title="清丰县律师">清丰县律师</a><a href="https://www.66law.cn/yanlingxian1/" target="_blank"
                                    title="鄢陵县律师">鄢陵县律师</a><a href="https://www.66law.cn/xiayixian/" target="_blank"
                                    title="夏邑县律师">夏邑县律师</a><a href="https://www.66law.cn/yongchengshi/" target="_blank"
                                    title="永城市律师">永城市律师</a><a href="https://www.66law.cn/baokangxian/" target="_blank"
                                    title="保康县律师">保康县律师</a>
                            </div>
                        </div>
                        <div class="un-btn">展开<i class="ico-topbar i-top3"></i></div>
                    </div>

                    <div class="tab-item unfold-bar hidden">
                        <div class="un-ovh" style="height: 60px;">
                            <div class="un-nr">
                                <a href="https://www.66law.cn/hanzhong/" target="_blank" title="汉中律师">汉中律师</a><a
                                    href="https://www.66law.cn/guangan/" target="_blank" title="广安律师">广安律师</a><a
                                    href="https://www.66law.cn/zibo/" target="_blank" title="淄博律师">淄博律师</a><a
                                    href="https://www.66law.cn/haidong/" target="_blank" title="海东市律师">海东市律师</a><a
                                    href="https://www.66law.cn/zhuhai/" target="_blank" title="珠海律师">珠海律师</a><a
                                    href="https://www.66law.cn/haerbin/xingshibianhu/" target="_blank"
                                    title="黑龙江刑事辩护律师">黑龙江刑事辩护律师</a><a href="https://www.66law.cn/ezhou/" target="_blank"
                                    title="鄂州律师">鄂州律师</a><a href="https://www.66law.cn/pingxiang/" target="_blank"
                                    title="萍乡律师">萍乡律师</a><a href="https://www.66law.cn/zaozhuang/" target="_blank"
                                    title="枣庄律师">枣庄律师</a><a href="https://www.66law.cn/ganzi/" target="_blank"
                                    title="甘孜律师">甘孜律师</a><a href="https://www.66law.cn/rongchangxian/" target="_blank"
                                    title="荣昌区律师">荣昌区律师</a><a href="https://www.66law.cn/qijiang/" target="_blank"
                                    title="綦江区律师">綦江区律师</a><a href="https://www.66law.cn/jiulongpoqu/" target="_blank"
                                    title="九龙坡区律师">九龙坡区律师</a><a href="https://www.66law.cn/fengduxian/" target="_blank"
                                    title="丰都县律师">丰都县律师</a><a href="https://www.66law.cn/dazuxian/" target="_blank"
                                    title="大足区律师">大足区律师</a><a href="https://www.66law.cn/changshouxian/" target="_blank"
                                    title="长寿区律师">长寿区律师</a><a href="https://www.66law.cn/bananqu/" target="_blank"
                                    title="巴南区律师">巴南区律师</a><a href="https://www.66law.cn/jingkouqu/" target="_blank"
                                    title="京口区律师">京口区律师</a><a href="https://www.66law.cn/lasa/" target="_blank"
                                    title="拉萨律师">拉萨律师</a><a href="https://www.66law.cn/changdu/" target="_blank"
                                    title="昌都律师">昌都律师</a><a href="https://www.66law.cn/jinnanqu/" target="_blank"
                                    title="津南区律师">津南区律师</a><a href="https://www.66law.cn/hepingqu/" target="_blank"
                                    title="和平区律师">和平区律师</a><a href="https://www.66law.cn/sichuan/" target="_blank"
                                    title="四川律师">四川律师</a><a href="https://www.66law.cn/liangshan/" target="_blank"
                                    title="凉山律师">凉山律师</a><a href="https://www.66law.cn/dongying/" target="_blank"
                                    title="东营律师">东营律师</a><a href="https://www.66law.cn/binzhou/" target="_blank"
                                    title="滨州律师">滨州律师</a><a href="https://www.66law.cn/haixi/" target="_blank"
                                    title="海西律师">海西律师</a><a href="https://www.66law.cn/tongliao/" target="_blank"
                                    title="通辽律师">通辽律师</a><a href="https://www.66law.cn/nanchang/" target="_blank"
                                    title="南昌律师">南昌律师</a><a href="https://www.66law.cn/jingdezhen/" target="_blank"
                                    title="景德镇律师">景德镇律师</a><a href="https://www.66law.cn/liaoyuan/" target="_blank"
                                    title="辽源律师">辽源律师</a><a href="https://www.66law.cn/huangshi/" target="_blank"
                                    title="黄石律师">黄石律师</a><a href="https://www.66law.cn/huanggang/" target="_blank"
                                    title="黄冈律师">黄冈律师</a><a href="https://www.66law.cn/zhumadian/" target="_blank"
                                    title="驻马店律师">驻马店律师</a><a href="https://www.66law.cn/xuchang/" target="_blank"
                                    title="许昌律师">许昌律师</a><a href="https://www.66law.cn/zhanjiang/" target="_blank"
                                    title="湛江律师">湛江律师</a><a href="https://www.66law.cn/meizhou/" target="_blank"
                                    title="梅州律师">梅州律师</a><a href="https://www.66law.cn/guangyuan/" target="_blank"
                                    title="广元律师">广元律师</a><a href="https://www.66law.cn/tongchuan/" target="_blank"
                                    title="铜川律师">铜川律师</a><a href="https://www.66law.cn/heze/" target="_blank"
                                    title="菏泽律师">菏泽律师</a><a href="https://www.66law.cn/xining/" target="_blank"
                                    title="西宁律师">西宁律师</a><a href="https://www.66law.cn/eerduosi/" target="_blank"
                                    title="鄂尔多斯律师">鄂尔多斯律师</a><a href="https://www.66law.cn/ls/shangqiu/xsjlls/"
                                    target="_blank" title="商丘刑事拘留律师">商丘刑事拘留律师</a><a href="https://www.66law.cn/huludao/"
                                    target="_blank" title="葫芦岛律师">葫芦岛律师</a><a href="https://www.66law.cn/yanbian/"
                                    target="_blank" title="延边律师">延边律师</a><a href="https://www.66law.cn/yongzhou/"
                                    target="_blank" title="永州律师">永州律师</a><a href="https://www.66law.cn/xiangyang/"
                                    target="_blank" title="襄阳律师">襄阳律师</a><a href="https://www.66law.cn/haerbin/"
                                    target="_blank" title="哈尔滨律师">哈尔滨律师</a><a href="https://www.66law.cn/xinxiang/"
                                    target="_blank" title="新乡律师">新乡律师</a><a href="https://www.66law.cn/nanyang/"
                                    target="_blank" title="南阳律师">南阳律师</a><a href="https://www.66law.cn/kaifeng/"
                                    target="_blank" title="开封律师">开封律师</a><a href="https://www.66law.cn/hengshui/"
                                    target="_blank" title="衡水律师">衡水律师</a><a href="https://www.66law.cn/zunyi/"
                                    target="_blank" title="遵义律师">遵义律师</a><a href="https://www.66law.cn/qiandongnan/"
                                    target="_blank" title="黔东南律师">黔东南律师</a><a href="https://www.66law.cn/laibin/"
                                    target="_blank" title="来宾律师">来宾律师</a><a href="https://www.66law.cn/zhaoqing/"
                                    target="_blank" title="肇庆律师">肇庆律师</a><a href="https://www.66law.cn/zhangzhou/"
                                    target="_blank" title="漳州律师">漳州律师</a><a href="https://www.66law.cn/hengdongxian/"
                                    target="_blank" title="衡东县律师">衡东县律师</a><a href="https://www.66law.cn/xiangshanqu1/"
                                    target="_blank" title="象山区律师">象山区律师</a><a href="https://www.66law.cn/huangzhouqu/"
                                    target="_blank" title="黄州区律师">黄州区律师</a>
                            </div>
                        </div>
                        <div class="un-btn">展开<i class="ico-topbar i-top3"></i></div>
                    </div>

                </div>
            </div>

            <p class="copyright tc">
                Copyright 2004-2024 66Law.cn 版权所有 <a href="//beian.miit.gov.cn/" target="_blank">蜀ICP备11014096号-1</a>
                增值电信业务经营许可证(川B2-20211656) <a href="//www.12377.cn/" target="_blank">有害信息举报</a><br>
                地址：成都市高新西区西区大道99号伯雅科技园华律大楼 <a href="https://j.map.baidu.com/6d/uYUK" class="transit" target="_blank"><i
                        class="ico-topbar i-top17"></i>来访路线</a>
            </p>
        </div>
    </div>

    <!-- swiper插件 -->
    <script type="text/javascript">
        window._hmga = window._hmga || [];
    </script>

    <script type="text/javascript" src="//cache.66law.cn/dist/main-v2.0.js"></script>
    <script type="text/javascript" src="//cache.66law.cn/topbar.js?v=20210727" id="script-topbar" data-showtype="header"
        data-width="big"></script>

    <script type="text/javascript" src="//cache.66law.cn/js/find-office/idangerous.swiper.min.js"></script>

    <script type="text/javascript" src="//cache.66law.cn/js/2019/jx_pageInit.js"></script>

    <script type="text/javascript">
        $(function () {

            /**
             * 轮播图
             */
            var swiperH312 = new Swiper('.swiper-h312', {
                autoplay: 3000,                // 自动
                loop: true,                    // 开启循环
                pagination: '.pagination',     // 分页小点
                paginationClickable: true,
                simulateTouch: false,
            });

        })
    </script>
    <!-- 社群入口隐藏 -->
    <script type="text/javascript" src="//cache.66law.cn/ui_v2/pc/elems/community_out_pc.min.js"></script>

    <!--友情链接JS-->
    <script type="text/javascript" src="//cache.66law.cn/footer_basic_v2.1.js"></script>
</body>

</html>